@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Travel funding</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/datepicker")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        .topplane {
            font-size: 1.6em;
            padding-right: 4px;
            top: -2px;
        }
        .navbar-nav{
            font-weight: bold;
        }
       
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    <span class='glyphicon glyphicon-plane navbar-brand topplane'></span>
                    @Html.ActionLink("UTS:TRAVEL", "Index", "Home", new { area = "" }, new { @class="navbar-brand" })
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if(User.Identity.GetUserName() == "000000")
                    {
                        <li>@Html.ActionLink("Manage Users", "Index", "Administration")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SEP Group 4</p>
        </footer>
    </div>

    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
</body>
</html>
