@model ApplicantDetailsViewModel

@{
    ViewBag.Title = "Applicant Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("HeaderSections", HeaderSections.ApplicantDetails)

@Styles.Render()
<style type="text/css">
    .checkbox-3-row-label {
        margin-top: 20px !important;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-offset-1 col-md-10">
        <hr />
        <div class="form-horizontal">
            @*<h4>Applicant Details</h4>*@
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(html => html.ApplicationId)
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.ApplicantType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EnumRadioButtonsFor(model => model.ApplicantType)
                        </div>
                        <div class="col-md-10 col-md-offset-2">
                        @Html.ValidationMessageFor(model => model.ApplicantType, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>

                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.SchoolUnit, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.SchoolUnit, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SchoolUnit, "", new { @class = "text-danger" })
                    </div>
               
                    @Html.LabelFor(model => model.Supervisor, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Supervisor, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Supervisor, "", new { @class = "text-danger" })
                    </div>
                </div>
                </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                </div>
        
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.FirstApplicationThisYear, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.FirstApplicationThisYear, new { htmlAttributes = new { @class = "checkbox-3-row-label" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.FirstApplicationThisYear, "", new { @class = "text-danger" })
                    </div>
                </div>
                </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn btn-default" })
                        <input type="submit" value="Next" class="btn btn-default pull-right" />
                    </div>
                </div>
            </div>
    </div>
    </div>
}

<div class="clearfix"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
