@model TravelDetailsViewModel

@{
    ViewBag.Title = "Travel Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("HeaderSections", HeaderSections.TravelDetails)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-offset-1 col-md-10">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#travel-information" role="tab" data-toggle="tab">Travel Information</a></li>
                <li><a href="#conference-information" role="tab" data-toggle="tab">Conference Information</a></li>
                <li><a href="#paper-information" role="tab" data-toggle="tab">Paper Information</a></li>
            </ul>

            <div class="tab-content">
                @* Travel Information *@
                <div class="tab-pane active" id="travel-information">

                    <div class="row">
                        <div class="form-group">
                            @* Date Time Picker Example Start. Key bits are the "input-group date" div, and the input-group addon
                            I've set the datetimepicker javascript to run for elements with class "date", so make sure to incude *@
                            @Html.LabelFor(model => model.DepartureDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <div class='input-group date'>
                                    @Html.EditorFor(model => model.DepartureDate, new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                @Html.ValidationMessageFor(model => model.DepartureDate, "", new { @class = "text-danger" })
                            </div>
                            @* Date Time Picker Example End *@

                            @Html.LabelFor(model => model.ReturnDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <div class='input-group date'>
                                    @Html.EditorFor(model => model.ReturnDate, new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                @Html.ValidationMessageFor(model => model.ReturnDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.JustificationForTravel, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.JustificationForTravel, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.JustificationForTravel, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PEPArrangements, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.PEPArrangements)
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>

                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PEPStartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <div class='input-group date'>
                                    @Html.EditorFor(model => model.PEPStartDate, new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                @Html.ValidationMessageFor(model => model.PEPStartDate, "", new { @class = "text-danger" })
                            </div>

                            @Html.LabelFor(model => model.PEPEndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <div class='input-group date'>
                                    @Html.EditorFor(model => model.PEPEndDate, new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                @Html.ValidationMessageFor(model => model.PEPEndDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                @* Conference Information *@
                <div class="tab-pane" id="conference-information">
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ConferenceNameDetails, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ConferenceNameDetails, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ConferenceNameDetails, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ConferenceURL, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ConferenceURL, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ConferenceURL, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ConferenceStartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <div class='input-group date'>
                                    @Html.EditorFor(model => model.ConferenceStartDate, new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                @Html.ValidationMessageFor(model => model.ConferenceStartDate, "", new { @class = "text-danger" })
                            </div>


                            @Html.LabelFor(model => model.ConferenceEndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <div class='input-group date'>
                                    @Html.EditorFor(model => model.ConferenceEndDate, new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                @Html.ValidationMessageFor(model => model.ConferenceEndDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                            </div>

                            @Html.LabelFor(model => model.Region, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.Region, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Region, "", new { @class = "text-danger" })
                            </div>

                            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    </div>

                    @* Paper Information *@
                    <div class="tab-pane" id="paper-information">
                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PaperTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.PaperTitle, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PaperTitle, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            </div>
                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PaperAccepted, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.PaperAccepted, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PaperAccepted, "", new { @class = "text-danger" })
                                </div>
                            
                                @Html.LabelFor(model => model.HERDCPoints, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.HERDCPoints)
                                    </div>
                                </div>
                            </div>
                          </div>
                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.AttachedDocuments, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input type="file" id="AttachedDocuments">
                                    <p class="help-block">Upload relevant documents here. E.g. email confirmation and conference paper</p>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PublicationImportanceAndQuality, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.PublicationImportanceAndQuality, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PublicationImportanceAndQuality, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @Html.ActionLink("Back", "ApplicantDetails", null, new { @class = "btn btn-default" })
                            <input type="submit" value="Next" class="btn btn-default pull-right" />
                        </div>
                    </div>
                </div>
            </div>
       
    </div>
}

<div class="clearfix"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
